<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body style="background-image: url({% static '/bg.jpeg' %});">
	<div class="container">
		<div class="title">Change password</div>

		<form action="#" method="POST" novalidate>
			{% csrf_token %}
			<div class="user__details">
				{% for fm in form %}
				<div class="input__box">
				  <span class="details">{{fm.label_tag}}</span>
					{{fm}}<small class="error">{{fm.errors|striptags}}</small>
				</div>
				{% endfor %}
			</div>

			<span class="error">
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				{{error}}
				{% endfor %}
			{% endif %}
			</span>
				{% if messages %}
			{% for m in messages %}
				{{m}}
			{% endfor %}
			{% endif %}
<div class="link1">
				 <a href="{% url 'forget_password' %}">Forget Password </a><br>
		</div>
		  <div class="button">
			<input type="submit" value="Change password">
		  </div>

		</form>

	  </div>
</body>
</html>