<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forget password</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<STYLE>
		
		.message-error{
			width: 100%;
			background: #e64949;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		.message-success{
			width: 100%;
			background: rgb(113 212 113);
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
		}
		.link1{
			text-align:center;
		}
		.link1>a{
			text-Decoration:none;
		}
	</STYLE>
</head>
<body style="background-image: url({% static '/bg.jpeg' %});">
	<div class="container">
		
			{% if messages %}
				{% for message in messages %}
				<div class="message">
					<div {% if message.tags %} class="message-{{message.tags}}" {% endif %}>{{message}}</div>
				</div>
				{% endfor %}
			{% endif %}

		<div class="title">Forget Password</div>
		<form action="#" method="POST" novalidate>
			{% csrf_token %}

			<div class="user__details">

				{% for fm in form %}
				<div class="input__box">
				  <span class="details">{{fm.label_tag}}</span>
					{{fm}}<small class="error">{{fm.errors|striptags}}</small>
				</div>
				{% endfor %}

			</div>
			
			
		<div class="link1">
				Don't have an account ? <a href="{% url 'signin' %}">Create a account</a><br>
		</div>
		  <div class="button">
			<input type="submit" value="Verify">
		  </div>

		</form>

		<br>
	  </div>
</body>
</html>