<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forget password</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<STYLE>
		
	</STYLE>
</head>
<body style="background-image: url({% static '/bg.jpeg' %});">
	<div class="container">
		<div class="title">Forget Password</div>
		<form action="#" method="POST" novalidate>
			{% csrf_token %}

			<div class="user__details">

				{% for fm in form %}
				<div class="input__box">
				  <span class="details">{{fm.label_tag}}</span>
					{{fm}}<small class="error">{{fm.errors|striptags}}</small>
				</div>
				{% endfor %}

			</div>
			
			<span class="error">
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				{{error}}
				{% endfor %}
			{% endif %}
			</span>

		<div class="link1">
				Don't have an account ? <a href="{% url 'signin' %}">Create a account</a><br>
		</div>
		  <div class="button">
			<input type="submit" value="Send OTP">
		  </div>

		</form>

		<br>
	  </div>
</body>
</html>