<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<STYLE>
		.success{
			color:rgb(0, 255, 0);
		}
		.error{
			color:rgb(255, 0, 0);
		}
		.link1{
			text-align:center;
		}
		.link1>a{
			text-Decoration:none;
		}
	</STYLE>
</head>
<body>
	<div class="container">
		<div class="title">Login</div>
		<form action="#" method="POST" novalidate>
			{% csrf_token %}

			<div class="user__details">

				{% for fm in form %}
				<div class="input__box">
				  <span class="details">{{fm.label_tag}}</span>
					{{fm}}<small class="error">{{fm.errors|striptags}}</small>
				</div>
				{% endfor %}

			</div>
			
			<span class="error">
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				{{error}}
				{% endfor %}
			{% endif %}
			</span>

		  <div class="button">
			<input type="submit" value="Continue">
		  </div>

		</form>
		<div class="link1">
			<a href="{% url 'login' %}">Login</a><br>
		</div>
	  </div>
</body>
</html>