<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initiate Payment</title>
</head>
<body>
    <h1>Payment Details</h1>
    <p>Total Amount: $20.00</p>
    <form action="{% url 'execute_payment' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="hidden" name="paymentId" value="{{ payment.id }}" autocomplete="off">
        <input type="hidden" name="PayerID" value="{{ payment.payer.payer_info.payer_id }}" autocomplete="off">
        <button type="submit">Complete Payment with PayPal</button>
    </form>
</body>
</html>
